.pinkie {
  color: plum;
}

body {
  background-image: url("extra-money.jpg");
  background-
 
}

/*
Hello I am a comment, just here to make Rhea remember me
*/

img.note {
  height: 25%;
  width: 25%;
}


button {
  font-size: 24px;
}